.par {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.par_corr {
    margin-left: 10px;
}

.table {
    overflow: auto;
    width: auto;
    height: auto;
    margin-bottom: 30px;
}

.description {
    overflow: auto;
    width:25%;
    height: 400px;
    display: inline-block;
    margin-left: 60px;
}

.fig_with_description {
   width: 65%;
   height: auto;
   display: inline-block;
   margin-right: 60px;
   margin-left: -50px
}

.dropdown_with_label{
   display: inline-block;
   margin-right: 20px;
   margin-bottom: 10px;
   min-width: 200px
}

.dropdown {
   width: 200px;
   height: auto;
   display: inline-block;
   margin-bottom: 20px;
}

.dropdown_label {
    display: inline-block;
}

.dropdown_corr {
    width: 50px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    
}

.dropdown_component {
   width: 50px;
   height: auto;
   display: inline-block;
   margin-left: 10px;
}

.title_header {
    text-align: center;
}

.div_hidden {
    display: None;
}
